<h3>Personal Reference</h3>
    
<div class="form-group">
    <label for="personal_reference_name">Name</label>
    <input type="text" class="form-control" name="personal_reference_name" ng-model="formData.personal_reference_name">
</div>

<div class="form-group">
    <label for="personal_reference_relationship">Relationship</label>
    <input type="text" class="form-control" name="personal_reference_relationship" ng-model="formData.personal_reference_relationship">
</div>

<div class="form-group">
    <label for="personal_reference_phone">Phone #</label>
    <input type="text" class="form-control" name="personal_reference_phone" ng-model="formData.personal_reference_phone">
</div>




<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.misc" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>