<h3>Previous Address</h3><br>

<div class="form-group">
    <label for="previous_address">Previous Address</label>
    <input type="text" class="form-control" name="previous_address" ng-model="formData.previous_address  ">
</div>

<div class="form-group">
    <label for="previous_unit">Unit</label>
    <input type="text" class="form-control" name="previous_unit" ng-model="formData.previous_unit  ">
</div>

<div class="form-group">
    <label for="previous_city">City</label>
    <input type="text" class="form-control" name="previous_city" ng-model="formData.previous_city">
</div>

<div class="form-group">
    <label for="previous_state">State</label>
    <input type="text" class="form-control" name="previous_state" ng-model="formData.previous_state">
</div>

<div class="form-group">
    <label for="previous_zip">Zip</label>
    <input type="text" class="form-control" name="previous_zip" ng-model="formData.previous_zip">
</div>

<div class="form-group">
    <label for="previous_address_date">From .. to ..</label>
    <input type="text" class="form-control" name="previous_address_date" ng-model="formData.previous_address_date">
</div>

<div class="form-group">
    <label for="previous_address_landlord">Landlord or Mortgage Company</label>
    <input type="text" class="form-control" name="previous_address_landlord" ng-model="formData.previous_address_landlord">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.vehicles" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>