<h3>Vehicles</h3><br>


<div class="form-group">
    <label for="vehicle_make">Make</label>
    <input type="text" class="form-control" name="vehicle_make" ng-model="formData.vehicle_make  ">
</div>

<div class="form-group">
    <label for="vehicle_model">Model</label>
    <input type="text" class="form-control" name="vehicle_model" ng-model="formData.vehicle_model  ">
</div>

<div class="form-group">
    <label for="vehicle_year">Year</label>
    <input type="text" class="form-control" name="vehicle_year" ng-model="formData.vehicle_year  ">
</div>

<div class="form-group">
    <label for="vehicle_color">Color</label>
    <input type="text" class="form-control" name="vehicle_color" ng-model="formData.vehicle_color  ">
</div>

<div class="form-group">
    <label for="vehicle_state">State</label>
    <input type="text" class="form-control" name="vehicle_state" ng-model="formData.vehicle_state  ">
</div>

<div class="form-group">
    <label for="vehicle_plate">License Plate #</label>
    <input type="text" class="form-control" name="vehicle_plate" ng-model="formData.vehicle_plate  ">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.employer" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>