<h3>Miscellaneous</h3>
    
<div class="form-group">
    <label for="felony_conviction">Have you ever been convicted of a felony?</label>
    <input type="text" class="form-control" name="felony_conviction" ng-model="formData.felony_conviction">
</div>

<div class="form-group">
    <label for="emergency_contact">Emergency Contact</label>
    <input type="text" class="form-control" name="emergency_contact" ng-model="formData.emergency_contact">
</div>

    
<button type="submit" class="btn btn-danger">Submit</button>
</div>