<h3>Current Address</h3><br>

<div class="form-group">
    <label for="current_address">Current Address</label>
    <input type="text" class="form-control" name="current_address" ng-model="formData.current_address  ">
</div>

<div class="form-group">
    <label for="current_unit">Unit</label>
    <input type="text" class="form-control" name="current_unit" ng-model="formData.current_unit  ">
</div>

<div class="form-group">
    <label for="current_city">City</label>
    <input type="text" class="form-control" name="current_city" ng-model="formData.current_city">
</div>

<div class="form-group">
    <label for="current_state">State</label>
    <input type="text" class="form-control" name="current_state" ng-model="formData.current_state">
</div>

<div class="form-group">
    <label for="current_zip">Zip</label>
    <input type="text" class="form-control" name="current_zip" ng-model="formData.current_zip">
</div>

<div class="form-group">
    <label for="current_address_date">From .. to ..</label>
    <input type="text" class="form-control" name="current_address_date" ng-model="formData.current_address_date">
</div>

<div class="form-group">
    <label for="current_address_landlord">Landlord or Mortgage Company</label>
    <input type="text" class="form-control" name="current_address_landlord" ng-model="formData.current_address_landlord">
</div>


<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.contact" class="btn btn-block btn-info">
    Back <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    <a ui-sref="form.previous_address" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>