<h3>Personal Information</h3><br>
<div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" name="firstName" ng-model="formData.firstName">
</div>

<div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" name="lastName" ng-model="formData.lastName">
</div>

<div class="form-group">
    <label for="ssn">Social Security #</label>
    <input type="text" class="form-control" name="ssn" ng-model="formData.ssn">
</div>

<div class="form-group">
    <label for="date_birth">Date of Birth</label>
    <input type="text" class="form-control" name="date_birth" ng-model="formData.date_birth">
</div>

<div class="form-group">
    <label for="driver_license">Driver License #</label>
    <input type="text" class="form-control" name="driver_license" ng-model="formData.driver_license">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.contact" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>